.widget-calc,.widget-table,.widget-spancalc{
	margin-bottom:18px;
}
.widget-calc table,.widget-table table,.widget-spancalc table{
	width:100%;
	border:1px solid #eee;

	background-color: #f3f3f3;
}
.widget-calc table caption,.widget-table table caption,.widget-spancalc table caption{
	text-align:center;
	font-size:17px;
	font-weight:bold;
	line-height:150%;
	background-color: #f3f3f3;
	padding:15px;
	
}
.widget-calc table td,.widget-spancalc table td{
	padding:18px;
}

.m-grid-title{
	padding:7px;
	font-weight:bolder;
	font-size:15px;
}
.m-grid-price{
	padding:7px;
}
.m-grid-btn{
	padding:7px;
}
.m-grid-extra{
	padding:7px;
}

.grid-table td{
	padding:8px;
	border:1px solid #ccc;
}
.grid-table td:hover{
	background:#fff;
}
