@CHARSET "UTF-8";

.header-container {
	position: relative;
	z-index: 99;
	height: 70px;
	background: url(img/hd_bg.png);
}

.header {
	position: relative;
	height: 100%
}

.logo {
	display: block;
	width: 248px;
	position: absolute;
	top:18px;
}

.logo>a>span{
	color: white;
	font-size: 27px;
	/*text-shadow: 2px 2px 5px #79031D;*/
}

.logo>span.spec {
	color: #5ABBE5;
}

.sign {
	float: right;
	background: #DC3333;
}
.sign ul{
	list-style:none;
}
.sign ul>li{
	display: inline-block;
}
.sign a {
	color: white;
	display: inline-block;
	padding:8px;
}

.sign .item .bdr {
	margin-top: 8px;
	border-left: 1px solid #c02a2c;
	height: 13px;
	overflow: hidden;
}



/****** nav *******/
.nav-container {
    position: relative;
    height: 40px;
    z-index: 98;
    border-top: 2px solid #333;
    border-bottom: 1px solid #cecece;
    background: #fff;
    box-shadow: inset 0px 6px 10px #e4d8d8, 0px -1px 6px #6c6c6c;
}

.nav ul {
	float: left
}

.nav li {
	float: left;
	height: 40px;
	font-size: 0;
	line-height: 0
}

.nav a {
	display: block;
	*display: inline-block;
	overflow: hidden;
	line-height: 38px;
	font-size: 14px;
	color: #333;
	cursor: pointer
}

.nav a{
	display: block;
	*display: inline-block;
	line-height: 38px;
	overflow: hidden;
	padding: 0 29px;
	border-left: 1px solid #dbdbdb;
	height:38px;
}

.nav a:hover {
	color: #ee472c;
	text-decoration: none
}

.nav a.actived {
	border-bottom: 2px solid #fc4243
}

.