/* 有边图片容器-默认定宽定高、图片拉伸 */
.img2{display:block;position:relative;width:104px;height:104px;padding:2px;border:1px solid #ddd;}
.img2,.img2 img{border-radius:5px;}
.img2 img{display:block;width:100%;height:100%;}
/* 图片高适应 */
.img2-ha,.img2-ha img{height:auto;}