/* 下拉式菜单-默认左对齐 */
.menu{*width:100px;margin:1px 0 0;overflow:hidden;border:1px solid #d0d0d0;border-width:1px 0;border-radius:5px;line-height:1.5;font-size:12px;box-shadow:0 5px 15px rgba(0,0,0,0.05);background:#fff;}
.menu li{border:1px solid #d0d0d0;border-width:0 1px;*vertical-align:top;}
.menu li a{display:block;*zoom:1;padding:7px 12px 6px;margin:-1px 0;border-top:1px solid #e8e8e8;overflow:hidden;*vertical-align:top;word-wrap:normal;white-space:nowrap;_white-space:normal;text-overflow:ellipsis;color:#333;}
.menu li:first-child,.menu li:first-child a{border-top:0;border-radius:5px 5px 0 0;}
.menu li:last-child,.menu li:last-child a{border-radius:0 0 5px 5px;}
.menu li a:hover{color:#333;background:#f7f7f7;}
.menu li a:active{background:#f0f0f0;}
/* 显示 */
.menshow{display:block;}
/* 分组 */
.mengp li.menusep,.mengp li.menusep .menuline{height:0;line-height:0;font-size:0;overflow:hidden;}
.mengp li.menusep{padding:5px 0;}
.mengp li.menusep .menuline{display:block;border:0;border-top:1px solid #e8e8e8;}
.mengp li a{border:0;}
/* 宽度限制 */
.menmin{min-width:100%;}
.menmax{max-width:100%;}
/* 右对齐 */
.menrt{left:auto;right:0;}